$color-dark: #3b4b52;
$color-dark-2: #607d8a;
$color-darker: #223239; // 10% darker
$color-dark-transparent: rgba(255, 255, 255, 0.1);

$color-light: #F5F0F0;
$color-light-2: #d6d2d2;

$color-accent: #0EFB8D;

$font-size-smallest: 1.5rem;
$font-size-small: 1.8rem;
$font-size-large: 2.5rem;
$font-size-larger: 3rem;