// Articles page
.articles {
    &--main-container {
      text-align: center;

      h2 {
        margin-top: 0.5rem;
      }
    }
  
    &--container {
      align-items: center;
      display: flex;
      flex-direction: column;
  
      @include respond(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
  
      @include respond(sm-screen) {
        flex-direction: column;
      }
    }
  }
  
  .article {
    &--container {
      min-width: 28rem;
    }
  }
  
  // Article card
  .card {
    &--main {
      background: $color-dark-transparent;
      color: $color-light-2;
      margin-bottom: 2rem;
      max-width: 35rem;
      min-height: 30rem;
      padding: 1.5rem;
      position: relative;
      text-align: left;
  
      @include respond(sm-screen) {
        display: flex;
        flex-direction: row;
        min-height: 20rem;
        min-width: 85rem;
        padding: 2rem;
      }

      h3 {
        color: $color-light-2;
      }

      a {
        text-decoration: none;
      }

      p {
        font-size: $font-size-smaller;
        padding-top: 1.5rem;
      }
    }

    &--button {
      bottom: 2rem;
      position: absolute;
      right: 9.5rem;

      @include respond(sm-screen) {
        bottom: 2.5rem;
        right: 2.5rem;
      }
    }
  }