.article {
    &--main-container {
        margin: 0 auto;
        max-width: 90rem;

        h1 {
            font-size: 5rem;
        }
    }

    &--top-image {
        width: 100%;
    }
}

.nuxt-content {
    .nuxt-content-highlight pre {
        border-radius: 5px;
        font-size: $font-size-smallest;
        max-width: 60rem;
    }

    a {
        color: $color-accent;
        text-decoration: none;
    }
}