.article {
    &--main-container {
        margin: 0 auto;
        max-width: 100rem;

        h1 {
            font-size: 5rem;
        }
    }
}

.nuxt-content {
    .nuxt-content-highlight pre {
        border-radius: 5px;
        font-size: 1.5rem;
        max-width: 60rem;
    }

    a {
        color: $color-accent;
        text-decoration: none;
    }
}