// Articles page
.articles {
    &--main-container {
      text-align: center;
    }
  
    &--container {
      align-items: center;
      display: flex;
      flex-direction: column;
  
      @include respond(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
  
      @include respond(sm-screen) {
        flex-direction: column;
      }
    }
  }
  
  .article {
    &--container {
      min-width: 28rem;
    }
  }
  
  // Article card
  .card {
    &--main {
      background: $color-dark-transparent;
      color: $color-light-2;
      margin-bottom: 2rem;
      max-width: 35rem;
      min-height: 28rem;
      padding: 1rem;
      position: relative;
      text-align: left;
  
      @include respond(sm-screen) {
        display: flex;
        flex-direction: row;
        min-height: 20rem;
        min-width: 85rem;
        padding: 2rem;
      }

      h3 {
        color: $color-light-2;
      }

      a {
        text-decoration: none;
      }
    }

    &--button {
      bottom: 2rem;
      position: absolute;
      right: 9.5rem;

      @include respond(sm-screen) {
        bottom: 2.5rem;
        right: 2.5rem;
      }
    }
  
    // &--text-area {
    //   background: white;
    //   bottom: -9rem;
    //   left: 0;
    //   min-height: 12.5rem;
    //   opacity: .8;
    //   position: absolute;
    //   transition: all ease-in .2s;
    //   width: 100%;
  
    //   @include respond(sm-screen) {
    //     margin-left: 30rem;
    //     opacity: 1;
    //     position: static;
    //     width: 60%;
    //     padding-left: 2rem;
    //     padding-right: 2rem;
    //   }

    //   p {
    //     color: #808080;
    //     text-align: left;
    //   }
    // }
  }