.homepage--banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .homepage--banner-content-left {
    @media (min-width: 700px) {
      min-width: 45rem;
    }
  }
  
  .homepage--banner-content-right {
    max-width: 60rem;
    
    @media (min-width: 900px) {
      max-width: 60rem;
      padding-left: 2rem;
    }
  }
  
  .homepage--title {
    &__primary-container {
      line-height: 7.5rem;
  
      @media (min-width: 700px) {
        line-height: 10rem;
      }
    }
  
    &__secondary-container {
      line-height: 5.5rem;
  
      @media (min-width: 700px) {
        line-height: 8rem;
      }
    }
  }
  
  .homepage--button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    @media (min-width: 700px) {
      flex-direction: row;
    }
  }