.container {
  @include respond(sm-screen) {
    column-gap: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;  
  }
}

.homepage {
  &-intro-text > p {
    margin-top: 1.5rem;
    max-width: 60rem;
  }

  &-buttons-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 5rem;

    & > div {
      margin-top: 3rem;
    }

    @include respond(tablet) {
      flex-direction: row;

      & > div {
        margin-top: 0;
        padding-left: 3rem;
      }
    }
  }

  @include respond(sm-screen) {
    &-banner-top {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    &-banner-bottom {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    &-intro-text {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  
      & > p {
        margin-top: 2.5rem;
      }
    }
  
    &-buttons-container {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}