@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Londrina+Solid:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap');

@import 'base/base';
@import 'base/mixins';
@import 'base/typography';
@import 'base/variables';
@import 'components/components';
@import 'pages/pages';

.main-container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 135rem;
  position: relative;
  padding-bottom: 4rem;
}

.footer {
  bottom: 0;
  color: $color-light-2;
  font-family: 'Inter', sans-serif;
  font-size: $font-size-small;
  font-weight: 200;
  padding-bottom: .8rem;
  position: absolute;
  text-align: center;
  width: 100%;

  a {
    color: $color-light;
    text-decoration: none;
  }
}