@import '../base/variables';

.button {
    border: 1px solid;
    font-size: 1.8rem;
    margin-top: 1rem;
    min-width: 20rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.greyColour {
  color: $color-dark;
  border-color: $color-dark;

  &:hover {
    color: white;
    border-color: $color-dark;
  }
}

.greenColour {
  color: $color-accent;
  border-color: $color-accent;

  &:hover {
    background: $color-accent;
    color: $color-dark;
    border-color: $color-accent;
  }
}