.nav {
    &-container {
      position: relative;

      @include respond(tablet) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    &-logo {
      font-family: 'Londrina Sketch', Arial, Helvetica, sans-serif;
      font-size: 5rem;
      font-weight: 400;
      color: white;
    }
  
    &-logo-dot {
      color: $color-accent;
    }
  }
  
  .nav-navigation {
    &--container {
      display: relative;
    }

    &--list {
      display: none;

      li {
        padding-top: 1.5rem;
        position: relative;
      }

      li:hover:after {
        width: 100%;
        transition: ease-out .4s;
      }

      li::after {
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 2rem;
        border-top: .3rem solid $color-accent;        
      }

      @include respond(tablet) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
          margin-left: 10rem;
        }
      }
    }
  
    &--list-item {
      font-size: 2rem;
      list-style: none;
    }
  
    &--list-link {
      color: white;
      text-decoration: none;
    }

    &--burger {
      background: transparent;
      border: none;
      color: white;
      display: block; 
      font-size: 3rem;
      position: absolute;
      right: 1.5rem;
      top: 0.5rem;
      z-index: 100;

      @include respond(tablet) {
        display: none;
      }
    }

    &--burger:hover {
      color: $color-accent;
      cursor: pointer;
    }

    // Specific to the slide out burger menu
    &--slide {
      &-menu {
        background-color: $color-darker;
        height: 65vh;
        padding-left: 2rem;
        padding-top: 5rem;
        position: absolute;
        right: -3rem;
        top: -3rem;
        width: 65vw;
        z-index: 99;
  
        @include respond(tablet) {
          display: none;
        }

        li {
          font-size: $font-size-large;
          list-style: none;
          margin-top: 3rem;
          padding-left: 1rem;
        }
      }

      &-link {
        color: white;
        text-decoration: none;

        &:hover {
          color: $color-accent;
        }
      }
    }

    .nuxt-link-exact-active {
      border-bottom: 2px solid $color-accent;
    }
  }

// ***********************
// transitions
// ***********************

// Fade in (primarily for page transitions)
.fade-in-enter {
  opacity: 0;
}
  
.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 0.2s ease;
}
  
.fade-in-leave-to {
  opacity: 0;
}

// Slide in (primarily for burger menu transition)
.slide-enter, .slide-leave-to {
  transform: translateX(30rem);
}

.slide-enter-active {
  transition: all .3s ease;
}

.slide-leave-active {
  transition: all .3s ease;
}