.nav {
    &-container {
      @media (min-width: 700px) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 4rem;
      }
    }
  
    &-logo {
      font-family: 'Londrina Sketch', Arial, Helvetica, sans-serif;
      font-size: 5rem;
      font-weight: 400;
      color: white;
    }
  
    &-logo-dot {
      color: $color-accent;
    }
  }
  
  .nav-navigation {
    &--list {
      @media (min-width: 700px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
  
      li {
        margin-left: 10rem;
      }
    }
  
    &--list-item {
      font-size: 2rem;
      list-style: none;
    }
  
    &--list-link {
      color: white;
      text-decoration: none;
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 2px solid $color-accent;
  }

  // transitions

.fade-in-enter {
    opacity: 0;
  }
  
  .fade-in-enter-active,
  .fade-in-leave-active {
    transition: opacity 0.2s ease;
  }
  
  .fade-in-leave-to {
    opacity: 0;
  }